In [20]:
import numpy as np
a= np.linspace(0,1000,111)
start = 1
step_size = 6
a[start::step_size]

array([   9.09090909,   63.63636364,  118.18181818,  172.72727273,
        227.27272727,  281.81818182,  336.36363636,  390.90909091,
        445.45454545,  500.        ,  554.54545455,  609.09090909,
        663.63636364,  718.18181818,  772.72727273,  827.27272727,
        881.81818182,  936.36363636,  990.90909091])

In [19]:
twos = np.full(20,2., dtype='int32')
twos

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [23]:
summer = (np.arange(365) - 172 < 90) & (np.arange(365) - 172 > 0)

In [30]:
import pandas as pd
import numpy as np
rng = np.random.RandomState(42)
A = rng.randint(10, size=(3, 4))
A

array([[6, 3, 7, 4],
       [6, 9, 2, 6],
       [7, 4, 3, 7]])

In [31]:
df = pd.DataFrame(A, columns = list('QRST'))

In [33]:
df-df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  0  6 -5  2
2  1  1 -4  3

In [34]:
df

   Q  R  S  T
0  6  3  7  4
1  6  9  2  6
2  7  4  3  7